@use "../../base/vars/colors" as *;
@use "../../base/mixins/media.mixins" as *;

.info {
  position: relative;
  color: $color-white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  
  &--tel,
  &--map {
    padding-left: 35px;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: 0.01em;
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--map::before {
    background-image: url('../img/svg/header/point.svg');
  }

  &--tel::before {
    background-image: url('../img/svg/header/phone-call.svg');
  }

  @include mediaTablet {
    font-size: 16px;
  }
}