@use "../../base/vars/colors" as *;
@use "../../base/vars/fonts" as *;

.input-text {
  padding-block: 0;
  padding-inline: 0;
  border: none;
  background: transparentize($color: $color-white, $amount: 0.8) ;

  &::placeholder {
    color: #bebebe;
    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px; 
    text-align: center;
  }
}
