@use "../../base/vars/colors" as *;
@use "../../base/vars/fonts" as *;

.logo {
  width: 134px;

  img {
    margin-bottom: 10px;
  }

  span {
    display: inline-block;
    color: $color-white;
    font-family: $font-main;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.10px;
  }
}