@use "../../base/vars/colors" as *;
@use "../../base/vars/fonts" as *;

.benefits {
  padding: 120px 0;
}

.benefits__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 70px;
  max-width: 794px;
}

.benefits__item {
  text-align: center;

  img {
    width: 80px;
    height: 80px;
    margin-bottom: 53px;
  }

  p {
    color: $color-white;
    text-align: center;
    font-family: $font-secondary;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
  }
}