@use './vars/fonts' as *;
@use './vars/colors' as *;
@use './mixins/media.mixins' as *;


body {
  font-family: $font-main;
  background-color: $color-dark;
  color: $color-white;
  font-size: 16px;
}

a {
  color: $color-white;
  transition: color 0.2s ease-in;

  &:hover {
    color: $color-accent;
  }
}

button {
  border: none;
  cursor: pointer;
}

.title-2 {
  color: $color-accent;
  font-family: $font-accent;
  font-size: 36px;
  font-weight: 700;

  @include mediaTablet {
    font-size: 28px;
  }
}

.center-container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.none {
  display: none !important;
}