@use "../vars/fonts" as *;
@use "./media.mixins" as *;

@mixin decorNumber($content, $line-height: 1, $direction: 'right') {
  content: $content;
  position: absolute;
  z-index: -1;
  top: 0;
  line-height: $line-height;
  opacity: 0.02;
  font-size: 400px;
  font-family: $font-accent;

  @if $direction == 'left' {
    right: calc(50% + 550px);
    transform: translate(50%, 0);
  } 
  
  @else {
    left: calc(50% + 550px);
    transform: translate(-50%, 0);
  }

  @include mediaTablet {
    display: none;
  }

}